:root {
    --black: #1c1c1c;
    --gray: #919191;
    --light-gray: #ebebeb;
    --hot-pink: #ff214f;
    --primary-font: "Roboto", sans-serif;
  }
  
  body {
    background-color: var(--light-gray);
    font-family: var(--primary-font);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    height: 80px;
    margin: 0 auto;
    padding: 0 25px;
  }
  .nav-list{
    display: flex;
    list-style: none;
    gap: 25px;
  }